html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#mapdiv {
  height: 100%;
  width: 100%;
}

div.mapoverlay {
  cursor: default;
}

div#discovercontainer {
  background-color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  height: auto;
  z-index: 1000;
  border-radius: 4px;
}

div.searchcontainer {
  background-color: white;
  position: absolute;
  top: 80px;
  left: 10px;
  min-width: 26px;
  min-height: 26px;
  z-index: 1000;
  border-radius: 4px;
}

div.searchinner {
  margin: 10px;
}

div#search input {
  width: 200px;
}

div#searchbtn {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  cursor: pointer;
}

div#results {
  font-style: sans-serif;
  color: black;
}

input.coord {
  width: 80px;
}

.txtright {
  text-align: right;
}

/* flexbox table */
@colwidth: 90px;

.table-row {
  display: flex;           display: -webkit-flex;
  flex-direction: row;     -webkit-flex-direction: row;
  flex-grow: 0;            -webkit-flex-grow: 0;
  flex-wrap: wrap;         -webkit-flex-wrap: wrap;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.table-row > * {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: @colwidth;
}



